{% extends 'base.html' %}
{% block content %}
    <div class="main">
  <div class="container ">

    <!-- BEGIN CONTENT -->

      <div class="content-page">
        <div class="row margin-bottom-30 search-result-item border-box">
          <!-- BEGIN INFO BLOCK -->
          <h2 class="margin-bottom-30">{{ post.title }}</h2>
          <hr>
          <div class="col-md-12">

            <!-- BEGIN LISTS -->
            <div class="row front-lists-v1 ">
              <ul class="list-unstyled margin-bottom-20">
                <li><strong>Category:</strong> {{ post.category.name }}</li>
                <li> <strong>Technology Tags:</strong> {{ post.tags.all|join:", " }}

                  </li>
                <li> <strong>Price:</strong> {{ post.get_prices_display }} </li>
                <li> <strong>Posted On:</strong> {{ post.created_date }} </li>
                <li> <strong>Email ID:</strong> {% if post.user.user_profiles.email_verify == True %} Verified {% else %} Not Verified{% endif %}</li>
                <li> <strong>Mobile Number:</strong>{% if post.user.user_profiles.mobile_verify == True %} Verified {% else %} Not Verified{% endif %}</li>
              </ul>
              <div class="row">
                <div class="col-md-6 margin-top-20">
                  <blockquote>
                    <p> Click here to get contact

                      information of usre

                      (Email ID, Mobile number & Skype ID) </p>
                    <a href="#" class="fancybox-button btn btn-primary"  data-rel="fancybox-button">Get Contact Detail</a></blockquote>
                </div>
                <div class="col-md-6 padding-left-0 margin-top-20">
                  <blockquote>
                    <p> Click here to send your contact detail to user, to show your interest, user will soon contact you </p>
                    <a href="#" class="fancybox-button btn btn-primary"  data-rel="fancybox-button">Show Interest</a> </blockquote>
                </div>
              </div>
            </div>
          </div>
          <!-- END LISTS -->

          <div class="testimonials-v1 margin-top-20">
            <div>
              <h3>Discription</h3>
              <p>{{ post.description }}</p>
              <strong>features:</strong>
              <ul class="list-style-none">
                <li>1. Someon who wants to teach something, can create his profile and can create his / her course, can manage courses.</li>
                <li>2. Uplaoded training items, documents, video, images etc...</li>
                <li>3. Can charge fee for course training</li>
                <li>4. Someone who wants to learn something can create his / her profile and can check various courses available, and can join courses, can view course wise itesm (video, images, documents)</li>
                <li>5. Users can pay for courses</li>
              </ul>
              <h3 class="margin-bottom-30">Upload Document: Non </h3>
            </div>
          </div>
          <div class="row front-lists-v1  ">
            <div class="col-md-6">
              <blockquote>
                <p> Click here to get contact

                  information of usre

                  (Email ID, Mobile number & Skype ID) </p>
                <a href="#" class="fancybox-button btn btn-primary"  data-rel="fancybox-button">Get Contact Detail</a></blockquote>
            </div>
            <div class="col-md-6">
              <blockquote>
                <p> Click here to send your contact detail to user, to show your interest, user will soon contact you </p>
                <a href="#" class="fancybox-button btn btn-primary"  data-rel="fancybox-button">Show Interest</a></blockquote>
            </div>
          </div>
        </div>
        <!-- END INFO BLOCK -->

      </div>

  </div>
  <!-- END CONTENT -->

  <!-- BEGIN SIDEBAR & CONTENT -->

</div>
{% endblock %}