{% extends 'base.html' %}
{% block content %}
    <div class="main">
  <div class="container ">

    <!-- BEGIN CONTENT -->

      <div class="content-page">
        <div class="row margin-bottom-30 search-result-item border-box">
          <!-- BEGIN INFO BLOCK -->
          <h2 class="margin-bottom-30">{{ post.title }}
          <span class="pull-right">
          {% if request.GET.redirect == 'true' %}
                    <span class="btn-danger btn-lg" >{% if post.sell_code == True %}on Sell{% else %}on Buy{% endif %}</span>
                    <span class="btn-success btn-lg" >New</span>
          {% endif %}
                </span></h2>
          <hr>
          <div class="col-md-12">

            <!-- BEGIN LISTS -->
            <div class="row front-lists-v1 ">
              <ul class="list-unstyled margin-bottom-20">
                <li><strong>Category:</strong> {{ post.category.name }}</li>
                <li> <strong>Technology Tags:</strong> {{ post.tags.all|join:", " }}

                  </li>
                <li> <strong>Price:</strong> {{ post.get_prices_display }} </li>
                <li> <strong>Posted On:</strong> {{ post.created_date }} </li>
                <li> <strong>Email ID:</strong> {% if post.user.user_profiles.email_verify == True %} Verified {% else %} Not Verified{% endif %}</li>
                <li> <strong>Mobile Number:</strong>{% if post.user.user_profiles.mobile_verify == True %} Verified {% else %} Not Verified{% endif %}</li>
              </ul>
              <div class="row">
                <div class="col-md-6 margin-top-20">
                {% if request.user == post.user %}
                    <blockquote>
                    <ul class="list-unstyled margin-bottom-0">
                        <li><strong>Email Id:</strong> {{ post.user.email }}</li>
                        <li> <strong>Mobile Number:</strong>  {% if post.mobile == True %}{{ post.user.user_profiles.mobile }}{% else %}Not Verified{% endif %}  </li>
                        <li> <strong>Skype ID:</strong> {% if post.skypeid == True %}{{ post.user.user_profiles.skypeid }}{% else %}Not Provided{% endif %} </li>
                      </ul>
                    </blockquote>
                    {% else %}
                  <blockquote>
                    {% if contact == 'true' %}
                  <ul class="list-unstyled margin-bottom-0">
                        <li><strong>Email Id:</strong> {{ post.user.email }}</li>
                        <li> <strong>Mobile Number:</strong>  {% if post.mobile == True %}{{ post.user.user_profiles.mobile }}{% else %}Not Verified{% endif %}  </li>
                        <li> <strong>Skype ID:</strong> {% if post.skypeid == True %}{{ post.user.user_profiles.skypeid }}{% else %}Not Provided{% endif %} </li>
                      </ul>
              {% else %}
                <p> Click here to get contact

                  information of usre

                  (Email ID, Mobile number & Skype ID) </p>
                        {% if not request.user.is_authenticated %}
                            <a href="{% url 'login' %}" class="btn btn-primary">Get Contact Detail</a>
                            {% else %}
                {% if tracker.view_count == plan.plan.view_contact %}
                          <a href="" class="btn btn-primary">You Have Reached Your View Limit</a>
                      {% else %}
                    <a href="{% url 'post-contact' post.slug %}" class="btn btn-primary">Get Contact Detail</a>
                      {% endif %}
              {% endif %}
                  </blockquote>
                {% endif %}
                {% endif %}

                </div>
              {% if not request.user.is_authenticated %}
          <div class="col-md-6 padding-left-0 margin-top-20">
                  <blockquote>
                    <p> Click here to send your contact detail to user, to show your interest, user will soon contact you </p>
              <a href="{% url 'login' %}" class="btn btn-primary"  data-rel="fancybox-button">Show Interest</a>
               <blockquote>
              </div>
                  {% else %}
            {% if request.user == post.user %}
                  {% else %}
                <div class="col-md-6 padding-left-0 margin-top-20">
                  <blockquote>
                    <p> Click here to send your contact detail to user, to show your interest, user will soon contact you </p>
                      {% if tracker.interest_count == plan.plan.show_interest %}

                    <a href="#" class="btn btn-primary"  data-rel="fancybox-button" >You have Reached Your Interest Limit</a>
                      {% else %}
                          {% if interest == 'true' %}
                          <a class="btn btn-primary"  data-rel="fancybox-button">Already Shown Interest</a>
                              {% else %}
                              <a href="#" class="btn btn-primary"  data-rel="fancybox-button" onclick="showinterest(3000)">Show Interest</a>
                              {% endif %}
                      {% endif %}
                  </blockquote>
                </div>
              {% endif %}
                  {% endif %}
              </div>
            </div>
          </div>
          <!-- END LISTS -->

          <div class="testimonials-v1 margin-top-20">
            <div>
              <h3>Discription</h3>
              <p>{{ post.description }}</p>
              <strong>features:</strong>
              <ul class="list-style-none">
                <li>1. Someon who wants to teach something, can create his profile and can create his / her course, can manage courses.</li>
                <li>2. Uplaoded training items, documents, video, images etc...</li>
                <li>3. Can charge fee for course training</li>
                <li>4. Someone who wants to learn something can create his / her profile and can check various courses available, and can join courses, can view course wise itesm (video, images, documents)</li>
                <li>5. Users can pay for courses</li>
              </ul>
                {% if post.file %}
              <a target="_blank" href="{{ post.file.url }}"><h3 class="margin-bottom-30">Uploaded Document: {{ post.file.name|slice:'6:' }} </h3></a>
                {% endif %}
            </div>
          </div>
          <div class="row front-lists-v1  ">
            <div class="col-md-6">
              {% if request.user == post.user %}
                    <blockquote>
                    <ul class="list-unstyled margin-bottom-0">
                        <li><strong>Email Id:</strong> {{ post.user.email }}</li>
                        <li> <strong>Mobile Number:</strong>  {% if post.mobile == True %}{{ post.user.user_profiles.mobile }}{% else %}Not Verified{% endif %}  </li>
                        <li> <strong>Skype ID:</strong> {% if post.skypeid == True %}{{ post.user.user_profiles.skypeid }}{% else %}Not Provided{% endif %} </li>
                      </ul>
                    </blockquote>
                    {% else %}
                  <blockquote>
                    {% if contact == 'true' %}
                  <ul class="list-unstyled margin-bottom-0">
                        <li><strong>Email Id:</strong> {{ post.user.email }}</li>
                        <li> <strong>Mobile Number:</strong>  {% if post.mobile == True %}{{ post.user.user_profiles.mobile }}{% else %}Not Verified{% endif %}  </li>
                        <li> <strong>Skype ID:</strong> {% if post.skypeid == True %}{{ post.user.user_profiles.skypeid }}{% else %}Not Provided{% endif %} </li>
                      </ul>
              {% else %}
                <p> Click here to get contact

                  information of usre

                  (Email ID, Mobile number & Skype ID) </p>
               {% if not request.user.is_authenticated %}
                            <a href="{% url 'login' %}" class="btn btn-primary">Get Contact Detail</a>
                            {% else %}
                {% if tracker.view_count == plan.plan.view_contact %}
                          <a href="" class="btn btn-primary">You Have Reached Your View Limit</a>
                      {% else %}
                    <a href="{% url 'post-contact' post.slug %}" class="btn btn-primary">Get Contact Detail</a>
                      {% endif %}
              {% endif %}
                  </blockquote>
                {% endif %}
                {% endif %}
            </div>
          {% if not request.user.is_authenticated %}
          <div class="col-md-6 padding-left-0 margin-top-20">
                  <blockquote>
                    <p> Click here to send your contact detail to user, to show your interest, user will soon contact you </p>
              <a href="{% url 'login' %}" class="btn btn-primary"  data-rel="fancybox-button">Show Interest</a>
               <blockquote>
              </div>
                  {% else %}
            {% if request.user == post.user %}
                  {% else %}
                <div class="col-md-6 padding-left-0 margin-top-20">
                  <blockquote>
                    <p> Click here to send your contact detail to user, to show your interest, user will soon contact you </p>
                      {% if tracker.interest_count == plan.plan.show_interest %}

                    <a href="#" class="btn btn-primary"  data-rel="fancybox-button" >You have Reached Your Interest Limit</a>
                      {% else %}
                          {% if interest == 'true' %}
                          <a class="btn btn-primary"  data-rel="fancybox-button">Already Shown Interest</a>
                              {% else %}
                              <a href="#" class="btn btn-primary"  data-rel="fancybox-button" onclick="showinterest(3000)">Show Interest</a>
                              {% endif %}
                      {% endif %}
                  </blockquote>
                </div>
              {% endif %}
                  {% endif %}
          </div>
        </div>
        <!-- END INFO BLOCK -->

      </div>

  </div>
  <!-- END CONTENT -->

  <!-- BEGIN SIDEBAR & CONTENT -->

</div>
{% endblock %}

{% block extra_scripts %}
    <script>
function showinterest() {
    var x;
    if (confirm("Are you sure do you want to show interest in this posting?") == true) {
        x = "You pressed OK!";
        window.location.href = "/send-contact/{{ post.slug }}/"
    } else {
        x = "You pressed Cancel!";
    }
    document.getElementById("demo").innerHTML = x;
}
</script>

{% endblock %}