{% extends 'base.html' %}
{% block content %}
    <div class="main" xmlns="http://www.w3.org/1999/html">
  <div class="container ">
<!-- BEGIN CONTENT -->
      <div class="content-page">
        <div class="row margin-bottom-30 search-result-item border-box">
          <!-- BEGIN INFO BLOCK -->
          <h2 class="margin-bottom-30">{{ post.title }} <span class="pull-right"><a href="{% url 'edit-post' post.id %}"> <span class="btn-danger btn-lg" >Edit</span></a> </span></h2>
          <hr>
          <div class="col-md-12">

            <!-- BEGIN LISTS -->
            <div class="row front-lists-v1 ">
              <ul class="list-unstyled margin-bottom-20">
                <li><strong>Category:</strong> {{ post.category }}</li>
                <li> <strong>Technology Tags:</strong>{{ post.tags.all|join:", " }}</li>
                <li> <strong>Price:</strong> {{ post.get_prices_display }} </li>
                <li> <strong>Posted On:</strong> {{ post.created_date|date }} </li>
                <li> <strong>Email ID:</strong> {% if user.email_verify == True %}Verified{% else %}Not Verified{% endif %} </li>
                <li> <strong>Mobile Number:</strong> {% if user.mobile_verify == True %}Verified{% else %}Not Verified{% endif %}</li>
              </ul>
              <div class="row">
                <div class="col-md-6 margin-top-20">
                  <blockquote class="border-left-none">
                    <ul class="list-unstyled margin-bottom-0">
                      <li><strong>Email Id:</strong> {{ request.user.email }}</li>
                      <li> <strong>Mobile Number:</strong> {{ user.mobile }} </li>
                      <li> <strong>Skype ID:</strong> {{ user.skypeid }} </li>
                    </ul>
                  </blockquote>
                </div>
             </div>
            </div>
          </div>
          <!-- END LISTS -->


          <div class="testimonials-v1 ">
            <div>
              <h3>Description</h3>
              <p>{{ post.description }}</p>

              <hr>
            </div>

          </div>
<form action="." method="post">{% csrf_token %}
{#<span class="pull-right"><a href=""> <span class="btn-primary btn-lg" >Publish</span></a></span>#}
    <span class="pull-right"><input type="submit" value="Publish" name="publish" class="btn-primary btn-lg"></span>
        </form>
        </div>


        <!-- END INFO BLOCK -->

      </div>
  </div>
  <!-- END CONTENT -->

  <!-- BEGIN SIDEBAR & CONTENT -->

</div>
{% endblock %}