{% extends 'base.html' %}
{% block content %}
    <div class="main">
  <div class="container ">
<!-- BEGIN CONTENT -->
      <div class="content-page">
        <div class="row margin-bottom-30 search-result-item border-box">
          <!-- BEGIN INFO BLOCK -->
          <h2 class="margin-bottom-30"><b>{{ post.title }}</b> <span class="pull-right"><a href="{% url 'my-posting' %}" >
              {% if post.sell_code == True %}
              <span class="btn-danger btn-lg" >On Sell</span></a> </span></h2>
                {% else %}
                  <span class="btn-danger btn-lg" >On Buy</span></a> </span></h2>
        {% endif %}
          <hr>
          <div class="col-md-12">

            <!-- BEGIN LISTS -->
            <div class="row front-lists-v1 ">
              <ul class="list-unstyled margin-bottom-20">
                <li><strong>Category:</strong> {{ post.category }}</li>
                <li> <strong>Technology Tags:</strong> {{ post.tags.all|join:", " }}

                  </li>
                <li> <strong>Price:</strong> {{ post.get_prices_display }} </li>
                <li> <strong>Posted On:</strong> {{ post.get_prices_display }} </li>
                <li> <strong>Email ID:</strong> {% if user.email_verify == True %}Verified{% else %}Not Verified{% endif %} </li>
                <li> <strong>Mobile Number:</strong> {% if user.mobile_verify == True %}Verified{% else %}Not Verified{% endif %}</li>
              </ul>
              <div class="row">
                <div class="col-md-6 margin-top-20">
                  <blockquote class="border-left-none">
                    <ul class="list-unstyled margin-bottom-0">
                      <li><strong>Email Id:</strong> {% if post.email == True %}{{ request.user.email }}{% else %}Not Selected{% endif %}</li>
                      <li> <strong>Mobile Number:</strong>{% if post.mobile == True %} {{ user.mobile }} {% else %}Not Selected{% endif %}</li>
                      <li> <strong>Skype ID:</strong> {% if post.skypeid == True %}{{ user.skypeid }} {% else %}Not Selected{% endif %}</li>
                    </ul>
                  </blockquote>
                </div>
             </div>
            </div>
          </div>
          <!-- END LISTS -->

          <div class="testimonials-v1 ">
            <div>
              <h3>Discription</h3>
              <p>{{ post.description }}</p>
              <hr>
                {% if post.file %}
              <a target="_blank" href="{{ post.file.url }}"><h3 class="margin-bottom-30">Uploaded Document: {{ post.file.name|slice:'6:' }} </h3></a>
                {% endif %}
              <h5 class="margin-bottom-10">Contact Viewed By: {{ contact_count }} persons</h5>
              <h3>Interest Shown By: {{ interest_count }} persons</h3>

            </div>
          </div>
          <div class="row front-lists-v1  ">
              {% for user in user_shown_interests %}
            <div class="col-md-4">
              <blockquote class="border-left-none">
                <ul class="list-unstyled margin-bottom-0">
                  <li><strong>Email Id:</strong> {{ user.user.email }}</li>
                  <li> <strong>Mobile Number:</strong> {{ user.user.user_profiles.mobile }} </li>
                  <li> <strong>Skype ID:</strong> {{ user.user.user_profiles.skypeid }} </li>
                </ul>
              </blockquote>
            </div>
            {% endfor %}
            <p class="clearfix">&nbsp;</p>
          </div>
        </div>
        <!-- END INFO BLOCK -->

      </div>
  </div>
{% endblock %}