{% extends 'base.html' %}
{% block content %}
    <!-- Header END -->

<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="search-result-item padding-bottom-0 border-box">
          <div class="row">
            <div class="col-md-8">
<h2>Enter OTP to verify your mobile number</h2>
<hr>

                  <form class="form-horizontal form-without-legend margin-top-35" role="form" method="post" action=".">
                      {% csrf_token %}
                    <div class="form-group ">
                      <label  class="col-lg-4 control-label">Enter OTP <span class="require">*</span></label>
                      <div class="col-lg-6">
                        <input class="form-control"  type="text">
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-lg-6 col-md-offset-4  padding-top-20">
{#                        <a href="index-after-login.html" class="btn btn-primary">Submit</a>#}
                          <input type="submit" value="Submit" class="btn btn-primary">
                          <a href="verify-mobile-number.html" class="btn btn-default">Resend OTP</a>
                      </div>
                    </div>

                  </form>

              <p>&nbsp;</p>
            </div>
            <div class="col-md-4 col-sm-4 pull-right padding-right-0 padding-bottom-0">
              <div class=""><img src="/static/img/otp.png" align="right" class="img-responsive" alt="">
              </div>
            </div>
          </div>
        </div>
        <p>&nbsp;</p>
      </div>
    </div>

    <!-- BEGIN SIDEBAR & CONTENT -->

  </div>
</div>
{% endblock %}