{% extends 'base.html' %}
{% block content %}
    <div class="main">
  <div class="container">
    <div class="content-page"><div class="row">
      <div class="col-md-12">
        <div class="search-result-item border-box">
          <div class="row">
            <div class="col-md-8">
              <legend>Sign In<br>
              <br>
              </legend>
<p>Put Message Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content<br>
<br>
</p>               {% if messages %}
                    {% for message in messages %}
                        <span style="color: red;margin-left: 238px">{{ message }}</span>
                    {% endfor %}
                {% endif %}
            {% if success %}
               <span style="color: green;margin-left: 238px"> {{ success }}</span>
            {% endif %}
                  <form class="form-horizontal form-without-legend" role="form" method="post" action=".">
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="email" class="col-lg-4 control-label">Email <span class="require">*</span></label>
                      <div class="col-lg-6">
                        <input class="form-control" id="email" type="text" name="email">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="password" class="col-lg-4 control-label">Password <span class="require">*</span></label>
                      <div class="col-lg-6">
                        <input class="form-control" id="password" type="password" name="password">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-offset-4">
                        <a href="{% url 'foreget-password' %}">Forget Password?</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-offset-4  padding-top-20">
{#                        <a href="index-after-login.html"  class="btn btn-primary">Sign In</a>#}
                          <input type="submit" value="Sign In" class="btn btn-primary">
                      </div>
                    </div>

                  </form>

              <p>&nbsp;</p>
            </div>
            <div class="col-md-4 col-sm-4 pull-right">
              <div class="form-info"><img src="/static/img/login.png" class="img-responsive" alt="">
              </div>
            </div>
          </div>
        </div>
        <p>&nbsp;</p>
      </div>
    </div>

    </div>

  </div>
</div>

{% endblock %}