{% extends 'base.html' %}
{% block content %}
    <div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="search-result-item border-box">
          <div class="row">
            <div class="col-md-8">
              <legend>Forgot Password<br>
              <br>
              </legend>
<p>Put Message Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content<br>
<br>
    <span style="color: green">{% for message in messages %}{{ message }}{% endfor %}</span>
</p>
                  <form class="form-horizontal form-without-legend" role="form" action="." method="post">
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="email" class="col-lg-4 control-label">Password <span class="require">*</span></label>
                      <div class="col-lg-6">
                        <input class="form-control"  type="password" placeholder="Enter Password" name="password1">
                      </div>
                    </div>
                      <div class="form-group">
                      <label for="email" class="col-lg-4 control-label">Confirm Password <span class="require">*</span></label>
                      <div class="col-lg-6">
                        <input class="form-control"  type="password" placeholder="Confirm Password" name="password2">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-offset-4  padding-top-20">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>

                  </form>

              <p>&nbsp;</p>
            </div>
            <div class="col-md-4 col-sm-4 pull-right">
              <div class="form-info"><img src="/static/img/forgot-password.png" class="img-responsive" alt="">
              </div>
            </div>
          </div>
        </div>
        <p>&nbsp;</p>
      </div>
    </div>

    <!-- BEGIN SIDEBAR & CONTENT -->

  </div>
</div>
{% endblock %}