{% extends 'base.html' %}
{% block content %}
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="search-result-item border-box">
          <div class="row">
            <div class="col-md-8">
              <legend>Registration Form<br>
              <br>
              </legend>
              <form class="form-horizontal" role="form" method="post" action=".">{% csrf_token %}
                <fieldset>
                  <div class="form-group">
                    <label for="firstname" class="col-lg-4 control-label">First Name <span class="require">*</span></label>
                    <div class="col-lg-6">
                      {{ form.first_name }}<span style="color: red" >{{ form.first_name.errors.as_text }}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="lastname" class="col-lg-4 control-label">Last Name <span class="require">*</span></label>
                    <div class="col-lg-6">
                      {{ form.last_name }}<span style="color: red" >{{ form.last_name.errors.as_text }}</span>
                    </div>
                  </div>
                    <div class="form-group">
                    <label  class="col-lg-4 control-label">Country <span class="require">*</span></label>
                    <div class="col-lg-6">
                      {{ form.country }}<span style="color: red" >{{ form.country.errors.as_text }}</span>
                    </div>
                  </div>

                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label  class="col-lg-4 control-label">Mobile <span class="require"></span></label>
                    <div class="col-lg-6">
                      {{ form.mobile }}<span style="color: red" >{{ form.mobile.errors.as_text }}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-lg-4 control-label">Skype Id <span class="require"></span></label>
                    <div class="col-lg-6">
                      {{ form.skypeid }}<span style="color: red" >{{ forms.skypeid.errors.as_text }}</span>
                    </div>
                  </div>
                    <div class="form-group">
                    <label for="email" class="col-lg-4 control-label">Email <span class="require">*</span></label>
                    <div class="col-lg-6">
                      {{ form.email }}<span style="color: red" >{{ form.email.errors.as_text }}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password" class="col-lg-4 control-label">Password <span class="require">*</span></label>
                    <div class="col-lg-6">
                      {{ form.password1 }} <span style="color: red" >{{ form.password1.errors.as_text }}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="confirm-password" class="col-lg-4 control-label">Confirm password <span class="require">*</span></label>
                    <div class="col-lg-6">
                      {{ form.password2 }}<span style="color: red" >{{ form.password2.errors.as_text }}</span>
                    </div>
                  </div>
                    <div class="form-group">
                    <label for="confirm-password" class="col-lg-4 control-label">Accept Terms & Conidtions <span class="require">*</span></label>
                    <div class="col-lg-6">
                      {{ form.terms }}<span style="color: red" >{{ form.terms.errors.as_text }}</span>
                    </div>
                  </div>
                </fieldset>
                <div class="form-group">
<label for="confirm-password" class="col-lg-4 control-label">&nbsp;</label>
                  <div class="col-lg-6 ">
{#                    <a href="pricing-plan.html" class="btn btn-primary">Create an account</a>#}
                      <button type="submit">Submit</button>
                    <button type="button" class="btn btn-default">Cancel</button>
                  </div>
                </div>
              </form>

            </div>
            <div class="col-md-4 col-sm-4 pull-right">
              <div class="form-info"> <br>
                <h2><em>Important</em> Information</h2>
                <p>{{ content.signup|linebreaks }}</p>
                <button type="button" class="btn btn-default">More details</button>
              </div>
            </div>
          </div>
        </div>
        <p>&nbsp;</p>
      </div>
    </div>

    <!-- BEGIN SIDEBAR & CONTENT -->

  </div>
</div>
{% endblock %}
