{% extends 'base.html' %}
{% block content %}
    <div class="main">
  <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12 margin-top-35">
            <div class="content-page  text-center">
               <div class="margin-top-35">
                  <i class="fa fa-thumbs-up" style="font-size:80px; margin-right:20px;" ></i>
               </div>
               <div class="details">
                  <h2>Thank You </h2>
                   {% if request.GET.type == 'free' %}
                  <p>
                     Your Registration was Successful, <a href="{% url 'update-profile' %}">Click Here</a> to go to Account
                  </p>
                   {% else %}
                       <p>
                     Your Registration was Successful
We will contact You Shortly and verify Please Select Your Payment Option<br>
                     <a href="{% url 'card-pay' %}" class="btn btn-success margin-top-35 " style="color:#FFF;"><i class="fa fa-credit-card"></i> Credit / Debit Card</a>
{#                                          <a href="../payment-process-paypal.html" class="btn btn-primary margin-top-35"><i class="fa fa-paypal"></i> Paypal</a>#}
                       {{ form.render }}
                  </p>
                   {% endif %}
               </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
</div>

{% endblock %}