{% extends 'base.html' %}
{% block content %}
    <div class="main">
  <div class="container">

        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row ">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <h1>About Us</h1>
            <div class="content-page">
              <div class="row margin-bottom-30">
                <!-- BEGIN INFO BLOCK -->
                <div class="col-md-12">
<p> <img src="{{ about.banner.url }}" class="img-responsive" alt=""></p>
                  <h2 class="">Company Overview</h2>
                  <p>{{ about.description|safe }}</p>

                  <!-- END LISTS -->
                </div>
                <!-- END INFO BLOCK -->

              </div>

              <div class="row margin-bottom-40">
                <!-- BEGIN TESTIMONIALS -->
                <div class="col-md-12 testimonials-v1">
                  <h2>Clients Testimonials</h2>
                  <div id="myCarousel1" class="carousel slide">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                      {% for testimonial in testimonials %}
                        <div class="{% cycle 'active' 'item' 'item' 'item'%}">
                        <blockquote><p>{{ testimonial.testimonial|safe }}</p></blockquote>
                        <div class="carousel-info">
                          <img class="pull-left" src="{{ testimonial.avatar.url }}" alt="">
                          <div class="pull-left">
                            <span class="testimonials-name">{{ testimonial.name }}</span>
                            <span class="testimonials-post">{{ testimonial.title }}</span>
                          </div>
                        </div>
                      </div>
                    {% endfor %}

                    </div>
                    <!-- Carousel nav -->
                    <a class="left-btn" href="#myCarousel1" data-slide="prev"></a>
                    <a class="right-btn" href="#myCarousel1" data-slide="next"></a>
                  </div>
                </div>
                <!-- END TESTIMONIALS -->



              </div>

              <div class="row front-team">
                                <h2>Our Team</h2>

                <ul class="list-unstyled">
                    {% for team in teams %}
                  <li class="col-md-3">
                    <div class="thumbnail">
                      <img alt="" src="{{ team.avatar.url }}">
                      <h3>
                        <strong>{{ team.name }}</strong>
                        <small>{{ team.title }}</small>
                      </h3>
                      <p>{{ team.description }}</p>

                    </div>
                  </li>
                    {% endfor %}
                </ul>
              </div>

            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
  <!-- END CONTENT -->

  <!-- BEGIN SIDEBAR & CONTENT -->

</div>
{% endblock %}