{% extends 'base.html' %}
{% block content %}
    <div class="main">
  <div class="container">

        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row ">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <h1>About Us</h1>
            <div class="content-page">
              <div class="row margin-bottom-30">
                <!-- BEGIN INFO BLOCK -->
                <div class="col-md-12">
<p> <img src="img/about-img.jpg" class="img-responsive" alt=""></p>
                  <h2 class="">Company Overview</h2>
                  <p>Lorem Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content Lorem Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content Lorem Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content</p>
                  <p>Lorem Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content Lorem Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content Lorem Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content Lorem Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content Ipsum dolor site demo content</p>
                  <!-- BEGIN LISTS -->

                  <!-- END LISTS -->
                </div>
                <!-- END INFO BLOCK -->

              </div>

              <div class="row margin-bottom-40">
                <!-- BEGIN TESTIMONIALS -->
                <div class="col-md-12 testimonials-v1">
                  <h2>Clients Testimonials</h2>
                  <div id="myCarousel1" class="carousel slide">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                      <div class="active item">
                        <blockquote><p>Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content</p></blockquote>
                        <div class="carousel-info">
                          <img class="pull-left" src="/static/img/client-img.jpg" alt="">
                          <div class="pull-left">
                            <span class="testimonials-name">Arpit Harsola</span>
                            <span class="testimonials-post">Director</span>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                         <blockquote><p>Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content</p></blockquote>
                        <div class="carousel-info">
                          <img class="pull-left" src="/static/img/client-img.jpg" alt="">
                          <div class="pull-left">
                            <span class="testimonials-name">Arpit Harsola</span>
                            <span class="testimonials-post">Director</span>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                         <blockquote><p>Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content</p></blockquote>
                        <div class="carousel-info">
                          <img class="pull-left" src="/static/img/client-img.jpg" alt="">
                          <div class="pull-left">
                            <span class="testimonials-name">Arpit Harsola</span>
                            <span class="testimonials-post">Director</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Carousel nav -->
                    <a class="left-btn" href="#myCarousel1" data-slide="prev"></a>
                    <a class="right-btn" href="#myCarousel1" data-slide="next"></a>
                  </div>
                </div>
                <!-- END TESTIMONIALS -->



              </div>

              <div class="row front-team">
                                <h2>Our Team</h2>

                <ul class="list-unstyled">
                  <li class="col-md-3">
                    <div class="thumbnail">
                      <img alt="" src="/static/img/team-img.jpg">
                      <h3>
                        <strong>Arpit Harsola</strong>
                        <small>Chief Executive Officer</small>
                      </h3>
                      <p>Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content Lorem ipsum dolor.</p>

                    </div>
                  </li>
                  <li class="col-md-3">
                    <div class="thumbnail">
                      <img alt="" src="/static/img/team-img.jpg">
                      <h3>
                        <strong>Arpit Harsola</strong>
                        <small>Chief Executive Officer</small>
                      </h3>
                      <p>Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content Lorem ipsum dolor.</p>

                    </div>
                  </li>
                  <li class="col-md-3">
                    <div class="thumbnail">
                      <img alt="" src="/static/img/team-img.jpg">
                      <h3>
                        <strong>Arpit Harsola</strong>
                        <small>Chief Executive Officer</small>
                      </h3>
                      <p>Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content Lorem ipsum dolor.</p>

                    </div>
                  </li>
                  <li class="col-md-3">
                    <div class="thumbnail">
                      <img alt="" src="/static/img/team-img.jpg">
                      <h3>
                        <strong>Arpit Harsola</strong>
                        <small>Chief Executive Officer</small>
                      </h3>
                      <p>Lorem ipsum dolor site demo content Lorem ipsum dolor site demo content Lorem ipsum dolor.</p>

                    </div>
                  </li>
                </ul>
              </div>

            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
  <!-- END CONTENT -->

  <!-- BEGIN SIDEBAR & CONTENT -->

</div>
{% endblock %}