{% extends 'base.html' %}
{% block content %}
    <div class="main">
  <div class="container ">

    <!-- BEGIN CONTENT -->
      <div class="content-page">
        <div class="row">
                <div class="col-md-3 col-sm-3 sidebar2">
                  <h2>Contact Details</h2>
                  <address>
                    <strong>{{ contact.address|linebreaks }}</strong><br>
{#                    795 Park ,address loram ipsum<br>#}
{#                    demo address<br>#}

<p> <strong>Email</strong><br>
                    <a href="mailto:{{ contact.email1 }}">{{ contact.email1 }}</a><br>
                    <a href="mailto:{{ contact.email2 }}">{{ contact.email2 }}</a></p>
<p>                    <strong>Phone</strong><br>
+91-7878288663 <br>
</p>

<p>                <strong>Skype ID</strong><br>
                    <a href="scalableapp">{{ contact.skype }}</a><br></p>

<p>
<strong>Social Links</strong><br>

<ul class="social-icons margin-bottom-40">
                    <li><a href="{{ contact.fb_link }}" data-original-title="facebook" class="facebook" target="_blank"></a></li>
                    <li><a href="{{ contact.tw_link }}" data-original-title="twitter" class="twitter" target="_blank"></a></li>
                    <li><a href="{{ contact.ln_link }}" data-original-title="Goole Plus" class="googleplus" target="_blank"></a></li>
                    <li><a href="{{ contact.ln_link }}" data-original-title="linkedin" class="linkedin" target="_blank"></a></li>
                    <li><a href="{{ contact.youtube_link }}" data-original-title="youtube" class="youtube" target="_blank"></a></li>
                  </ul></p>
                  </address>


                </div>
                <div class="col-md-9 col-sm-9">


                  <h2>Inquiry Form</h2>
                  <p>Lorem ipsum dolor sit demo contentLorem ipsum dolor sit demo contentLorem ipsum dolor sit demo contentLorem ipsum dolor sit demo contentLorem ipsum dolor sit demo contentLorem ipsum dolor sit demo contentLorem ipsum dolor sit demo content.</p>

                  <!-- BEGIN FORM-->
                  <form action="." role="form" method="post">{% csrf_token %}
                    <div class="form-group">
                      <label for="contacts-name">Name</label>
                      <input class="form-control" id="contacts-name" type="text" name="name">
                    </div>
                    <div class="form-group">
                      <label for="contacts-email">Email</label>
                      <input class="form-control" id="contacts-email" type="email" name="email">
                    </div>
                    <div class="form-group">
                      <label for="contacts-message">Message</label>
                      <textarea class="form-control" rows="5" id="contacts-message" name="message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Send</button>
                    <button type="button" class="btn btn-default">Cancel</button>
                  </form>
                  <!-- END FORM-->
                </div>

                <div class="col-md-12">
                  <div class="gmaps margin-bottom-40" >

                  </div>
                </div>
              </div>
      </div>
  </div>
  <!-- END CONTENT -->

  <!-- BEGIN SIDEBAR & CONTENT -->

</div>
{% endblock %}