
{% extends 'base.html' %}
{% load category_list %}
{% block extra_css %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}
{% block extra_scripts %}
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        data = {{ keywords|safe }}
        var data = data;
  $(function() {
    var availableTags =  data;
    $( "#search" ).autocomplete({
      source: availableTags
    });
  });
  </script>
{% endblock %}
{% block content %}
<!-- Header END -->
{% list_category as categories %}
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <form action="#" class="content-search-view2">
          <div class="input-group">
              <form action="{% url 'search' %}" method="get">
            <input type="text" class="form-control" placeholder="Search..." id="search" name="search">
            <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </span> </div>
        </form>
      </div>
      <div class="col-md-3">
        <div class="post-requarment"><a class="btn-transparent" {% if request.user.is_authenticated %}href="{% url 'add-post' %}"{% else %}href="{% url 'login' %}" {% endif %} ><img src="/static/img/post-requarment.png" width="250" height="50" alt=""></a></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div>
          <div class="main-tab">
            <ul class="nav nav-tabs">
              <li class="active"> <a href="#tab_1_1" data-toggle="tab" aria-expanded="true"> Source Code On Sell </a> </li>
              <li class=""> <a href="#tab_1_2" data-toggle="tab" aria-expanded="false"> Soure Code On Buy </a> </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane fontawesome-demo active" id="tab_1_1">
              <div class="sub-menu-tab">
                <ul class="nav nav-tabs">
                  <li class="active"> <a href="#" >All</a></li>
                    {% for category in categories %}
                  <li class=""> <a href="{% url 'category-post' category.slug sell %}" >{{ category }}</a></li>
                    {% endfor %}
                  <li class=""><a href="#" >Other</a></li>
                </ul>
              </div>
              <div class="row ">
                <!-- BEGIN CONTENT -->
                <div class="col-md-12">
                  <div class="">
                      {% for post in posts_sell %}
                    <div class="search-result-item">
                    <a href="{% url 'post-detail' post.slug %}">
                      <h4>{{ post.title }}</h4>
                      <ul class="blog-info"><li><i class="fa fa-calendar"></i> {{ post.created_date }}</li> <li><i class="fa fa-dollar"></i> {{ post.get_prices_display }}</li>                        <li><i class="fa fa-envelope"></i> Verified </li>
                        <li><i class="fa fa-phone"></i> Verified </li>
                        <li class="pull-right"><i class="fa fa-list"></i> {{ post.category }}</li>
                        <li class="pull-right"><i class="fa fa-tag"></i>{{ post.tags.all|join:", " }}</li>
                      </ul>
                      <p>{{ post.description }}

                    </a> </div>
                      {% endfor %}
                    <div class="row margin-top-10">
                <div class="col-md-4 col-sm-4 items-info">Items 1 to 9 of 10 total</div>
                <div class="col-md-8 col-sm-8">
                  <ul class="pagination pull-right">
                    <li><a href="#">«</a></li>
                    <li><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                  </ul>
                </div>
              </div>
                  </div>
                </div>
                <!-- END CONTENT -->
              </div>
            </div>
            <div class="tab-pane fontawesome-demo" id="tab_1_2"> <div class="sub-menu-tab">
                <ul class="nav nav-tabs">
                  <li class="active"> <a href="#" >All</a></li>
                    {% for category in categories %}
                  <li class=""> <a href="{% url 'category-post' category.slug buy %}" >{{ category.name }}</a></li>
                    {% endfor %}
                  <li class=""><a href="#" >Other</a></li>
                </ul>
              </div>
              <div class="row ">
                <!-- BEGIN CONTENT -->
                <div class="col-md-12">
                  <div class="">
 {% for post in posts_buy %}
                    <div class="search-result-item">
                    <a href="{% url 'post-detail' post.slug %}">
                      <h4>{{ post.title }}</h4>
                      <ul class="blog-info"><li><i class="fa fa-calendar"></i> {{ post.created_date }}</li> <li><i class="fa fa-dollar"></i> {{ post.get_prices_display }}</li>                        <li><i class="fa fa-envelope"></i> Verified </li>
                        <li><i class="fa fa-phone"></i> Verified </li>
                        <li class="pull-right"><i class="fa fa-list"></i> {{ post.category }}</li>
                        <li class="pull-right"><i class="fa fa-tag"></i>{{ post.tags.all|join:", " }}</li>
                      </ul>
                      <p>{{ post.description }}

                    </a> </div>
                      {% endfor %}


                    <div class="row margin-top-10">
                <div class="col-md-4 col-sm-4 items-info">Items 1 to 9 of 10 total</div>
                <div class="col-md-8 col-sm-8">
                  <ul class="pagination pull-right">
                    <li><a href="#">«</a></li>
                    <li><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                  </ul>
                </div>
              </div>
                    </div>
                </div>
                <!-- END CONTENT -->
              </div> </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BEGIN SIDEBAR & CONTENT -->

  </div>
</div>

{% endblock %}
