{% extends 'admin_base.html' %}
{% block admin_content %}
    <div id="content" class="span10">


			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="/dashboard/">Dashboard</a>
					<i class="icon-angle-right"></i>
				</li>
				<li>
					<i class="icon-edit"></i>
					<a href="">Add Tag</a>
				</li>
			</ul>
			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon edit"></i><span class="break"></span>Add Tag</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<form class="form-horizontal" action="." method="post">{% csrf_token %}
							<fieldset>

							 <div class="control-group">
								<label class="control-label" for="focusedInput">Name</label>
								<div class="controls">
								  {{ form.tag }}<span style="color: red">{{ form.tag.errors.as_text }}</span>
								</div>
							  </div>
							  <div class="form-actions">
                                  <button type="submit" class="btn btn-primary">Save changes</button>
                                  <a href="/dashboard/category-lists/" class="btn">Back</a>
							  </div>
							</fieldset>
						  </form>

					</div>
				</div><!--/span-->

			</div><!--/row-->




	</div><!--/.fluid-container-->
{% endblock %}