{% extends 'admin_base.html' %}
{% block admin_content %}
    <div id="content" class="span10">


			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.html">Home</a>
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">Dashboard</a></li>
			</ul>









<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>






			<div class="row-fluid">


				<a class="quick-button metro red span2" href="{{ report.daily_report.url }}" target="_blank">
					<i class="icon-comments-alt"></i>
					<p>Daily Report</p>
					<span class="badge"></span>
				</a>
				<a class="quick-button metro blue span2" href="{{ report.monthly_report.url }}" target="_blank">
					<i class="icon-shopping-cart"></i>
					<p>Monthly Report</p>
					<span class="badge"></span>
				</a>




				<div class="clearfix"></div>

			</div><!--/row-->



	</div><!--/.fluid-container-->
{% endblock %}
{% block admin_script %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script>
    $(function () {
    $('#container').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Monthly Payment Report'
        },
        subtitle: {
            text: 'Source: sourcecodepoint.com'
        },
        xAxis: {
            categories:['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Amount'
            },
            labels: {
                formatter: function () {
                    return (this.value) ;
                }
            },
            min:0
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        series: [{
            name: 'Amount',
            marker: {
                symbol: 'square'
            },
            data: {{ paypal_lists|safe }}

        }, ]
    });
});
    </script>
{% endblock %}



