{% extends 'admin_base.html' %}
{% block admin_content %}
    <div id="content" class="span10">


			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="/dashboard/">Dashboard</a>
					<i class="icon-angle-right"></i>
				</li>
				<li>
					<i class="icon-edit"></i>
					<a href="">Post Detail</a>
				</li>
			</ul>
			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon edit"></i><span class="break"></span>Post Detail</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<form class="form-horizontal" action="." method="post">{% csrf_token %}
							<fieldset>

							  <div class="control-group">
								<label class="control-label">Title</label>
								<div class="controls">
								  <span class="input-xlarge uneditable-input">{{ object.title }}</span>
								</div>
							  </div>
                                <div class="control-group">
								<label class="control-label">User</label>
								<div class="controls">
								  <span class="input-xlarge uneditable-input">{{ object.user }}</span>
								</div>
							  </div>
                                <div class="control-group">
								<label class="control-label">category</label>
								<div class="controls">
								  <span class="input-xlarge uneditable-input">{{ object.category }}</span>
								</div>
							  </div>
                                <div class="control-group">
								<label class="control-label">Tags</label>
								<div class="controls">
								  <span class="input-xlarge uneditable-input">{{ object.tags.all|join:", " }}</span>
								</div>
							  </div>
                                <div class="control-group">
								<label class="control-label">Skype</label>
								<div class="controls">
								  <span class="input-xlarge uneditable-input">{{ object.skypeid }}</span>
								</div>
							  </div>

                                <div class="control-group hidden-phone">
							  <label class="control-label" for="textarea2">Textarea WYSIWYG</label>
							  <div class="controls">
{#                                  <textarea></textarea>#}
{#                                  {{ object.description }}#}
								<textarea class="cleditor" id="textarea2" rows="3" value="" readonly>{{ object.description }}</textarea>
							  </div>

							  <div class="form-actions">
                                  <a href="/dashboard/subscription-lists/" class="btn">Back</a>
							  </div>
							</fieldset>
						  </form>

					</div>
				</div><!--/span-->

			</div><!--/row-->




	</div><!--/.fluid-container-->
{% endblock %}